<%- include('../cabecalho.ejs') %>
<br>
<br>
<table class="table table-striped table-hover">
    <tr>
        <th>Id</th>
        <th>Data</th>
        <th>Valor</th>
        <th>Nome Cliente</th>
        <th>Nome Imobiliaria</th>
        <th>Número do imovel</th>
        <th>Foto do Imovel</th>
        <th>Editar</th>
        <th>Deletar</th>
    </tr>
    <% Contratos.forEach(function(contrato){ %>
        <tr>
            <td><%=contrato._id %></td>
            <td><%=contrato.data %></td>
            <td><%=contrato.valor %></td>
            <td><%=contrato.nomeCli.nome%></td>
            <td><%=contrato.nomeImob %></td>
            <td><%=contrato.numimovel.numero %></td>
            <td>
                <img style="max-width: 60px;" src="/fotos/<%=contrato.foto %>" alt="Foto do Imovel">
            </td>
            <td>
                <a href="/admin/contrato/edt/<%=contrato._id %>">Editar</a>
            </td>
            
            <td>
                <a href="/admin/contrato/del/<%=contrato._id %>">Excluir</a>
            </td>
        </tr>
    <% }) %>
</table>
<%- include('../rodape.ejs') %>